services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: spliton
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:password@postgres:5432/spliton?schema=public"
      NODE_ENV: production
      PORT: 3000
    depends_on:
      - postgres

volumes:
  postgres_data: